{% load static %}
{% block content %}
<section class="contact section" id="contact">
    <h2 class="section-title">Contact</h2>

    <div class="contact__container bd-grid">
        <form method="POST" class="contact__form">
            {% csrf_token %}
            <input type="text" placeholder="Name" name="name" class="contact__input">
            <input type="mail" placeholder="Email" name="email" class="contact__input">
            <textarea name="message" id="" cols="0" rows="10" class="contact__input"></textarea>
            <button type="submit" value="Send" class="contact__button button">Send</button>
        </form>
    </div>
</section>
{% endblock %}
